html,
body {
  color: #434242;
  font-family: "Open Sans", sans-serif !important;
}

* {
  box-sizing: border-box;
}

.btn {
  background-color: navajowhite;
  border: none;
  color: black;
  padding: 12px 30px;
  cursor: pointer;
  font-size: 20px;
  border-radius: 8px;
}
.btn:hover {
  background-color: royalblue;
}

.btn a {
  text-decoration: none;
  color: white;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.container {
  max-width: 1024px;
  border-radius: 5px;
  width: 95%;
  padding: 20px;
  line-height: 1.64;
}

.center {
  margin: auto;
  max-width: 1024px;
  width: 95%;
}

input[type="text"],
input[type="email"],
input[type="date"],
#city,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type="submit"] {
  background-color: #04aa6d;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #45a049;
}

.white-background {
  background: #ffffff;
}

h3 {
  font-size: 28px;
}

.col-md-1,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-10,
.col-md-11,
.col-md-12 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.inline-display {
  display: inline-block;
}

.col-md-1 {
  width: 8.33%;
}
.col-md-2 {
  width: 16.66%;
}
.col-md-3 {
  width: 25%;
}
.col-md-4 {
  width: 33.33%;
}
.col-md-5 {
  width: 41.66%;
}
.col-md-6 {
  width: 50%;
}
.col-md-7 {
  width: 58.33%;
}
.col-md-8 {
  width: 66.66%;
}
.col-md-9 {
  width: 75%;
}
.col-md-10 {
  width: 83.33%;
}
.col-md-11 {
  width: 91.66%;
}
.col-md-12 {
  width: 100%;
}

.float-right {
  float: right;
}

.row {
  margin-left: -15px;
  margin-right: -15px;
}
.row:before {
  display: table;
  content: " ";
}

/*
The styling below is taken from the styling radio buttons from w3school
https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_custom_radio
*/
.radio-container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 15px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.radio-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
}

.radio-container input:checked ~ .checkmark {
  background-color: #2196f3;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.radio-container input:checked ~ .checkmark:after {
  display: block;
}

.radio-container .checkmark:after {
  top: 9px;
  left: 9px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
}

.font-italic {
  font-style: italic;
}

.padding-30-px {
  padding-left: 30px;
}


#educations .education p > strong {
  display: block;
  padding-top: 8px;
  margin-bottom: 10px;
}

@media only screen and (max-width: 400px) {
  .container {
    max-width: 380px;
  }

  .col-md-1,
  .col-md-2,
  .col-md-3,
  .col-md-4,
  .col-md-5,
  .col-md-6,
  .col-md-7,
  .col-md-8,
  .col-md-9,
  .col-md-10,
  .col-md-11,
  .col-md-12 {
    width: 100%;
  }

  .inline-display {
    display: block;
  }

  .float-right {
    float: none;
  }
}
